@import '_mixins';
@import '_miniature';

.videos-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .title-page.title-page-single {
    display: flex;

    my-feed {
      display: inline-block;
      top: 1px;
      margin-left: 5px;
      width: max-content;
      opacity: 0;
      transition: ease-in .2s opacity;
    }
    &:hover my-feed {
      opacity: 1;
    }
  }

  .action-block {
    a button {
      @include peertube-button;
      @include grey-button;
      @include button-with-icon(18px, 3px, -1px);
    }
  }

  .moderation-block {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
  }
}

.date-title {
  font-size: 16px;
  font-weight: $font-semibold;
  margin-bottom: 20px;
  margin-top: -10px;
  padding-top: 20px;

  &:not(:first-child) {
    border-top: 1px solid $separator-border-color;
  }
}

.margin-content {
  @include adapt-margin-content-width;
}

@media screen and (max-width: $mobile-view) {
  .videos-header {
    flex-direction: column;
    align-items: center;
    height: auto;

    .title-page {
      margin-bottom: 10px;
      margin-right: 0px;
    }
  }
}
